{% extends 'GPAdminBundle::layout.html.twig' %}

{% block content %}

<div class="content-page">

<!-- Start content -->
    <div class="content">

      <div class="container-fluid">

        <div class="row">
              <div class="col-xl-12">
                  <div class="breadcrumb-holder">
                      <h1 class="main-title float-left">Liste de tous les Departements</h1>
                      <div class="clearfix"></div>
                  </div>
              </div>
        </div>
        <!-- end row -->
      </div>

      <div class="">
        {% for sector in listSectors %}
          {{sector.sectorName}}

        {% endfor %}

      </div>


<!-- END content -->

</div>
<!-- END content-page -->







{% endblock %}
