{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <span class="login100-form-title login100-form-title-request-email p-t-70 p-b-60">
                  Changer de mot de passe
      </span>
    </div>

  </div>
</div>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-6 col-xs-10">
            {{ form_widget(form) }}
        </div>
      </div>

      <div class="row justify-content-center p-t-40">
        <div class="container-login100-form-btn col-sm-3 col-xs-6">
            <input class="login100-form-btn" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
      </div>
    </div>
{{ form_end(form) }}
