{# src/PlatformBundle/Resources/views/Default/index.html.twig#}
{% extends 'GPPlatformBundle::layout.html.twig' %}

{% block body %}
<div class="container-fluid" >
  {#Image#}
  <div class="row justify-content-center " style="margin-top: 80px">
      <div class="row col-sm-9 " >
        <h1 class="title-block"> Formez vous en toute confiance</h1>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
      </div>

  </div>
  <div class="row bg-light" style="height:500px">

  </div>
</div>
{% endblock %}
