{% extends 'GPPlatformBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets filter='cssrewrite, scssphp'
      'bundles/app/login/css/util.css'
      'bundles/app/login/css/main.css'
     %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}



{% block body %}

<header id="home" class="section pb-0 ">

    <div class="header-text section text-white text-center pb-3 pt-0">

    </div>

</header>

<div class="container-fluid">
  <div class="row justify-content-center p-t-100">
    <div class="col-sm-8 col-xs-10">
      <p>
      {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

      {% javascripts filter='jsqueeze'
        'bundles/app/login/vendor/jquery/jquery-3.2.1.min.js'
        'bundles/app/login/js/main.js'
       %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
{% endblock %}
